# Ensure BAM files are left as binary.  To display changes in them by
# converting to SAM, add to your configuration (perhaps with --global):
#
#	git config diff.bam.textconv "samtools view"
*.bam	-text diff=bam

# Omit these files from release tarballs.
.git*           export-ignore
/.travis.yml    export-ignore
README.md       export-ignore
