# Ensure BAM files are left as binary.  To display changes in them by
# converting to SAM, add to your configuration (perhaps with --global):
#
#	git config diff.bam.textconv "samtools view"
*.bam	-text diff=bam

# Omit these files from release tarballs.
/.appveyor.yml  export-ignore
/.cirrus.yml    export-ignore
.git*           export-ignore
.ci_helpers*    export-ignore
README.md       export-ignore

# Correct language misidentifications.
test/**/*.[1-9] linguist-language=none

# Prevent Windows cr-lf endings
test/**    -text
test/**.c   text
test/**.h   text
test/**.pl  text
test/**.sh  text
test/**.reg text
