*.o
*.dSYM
*.exe
/version.h

aclocal.m4
autom4te.cache
config.cache
config.h
config.h.in
config.log
config.mk
config.status
configure

lib*.a

/misc/ace2sam
/misc/maq2sam-long
/misc/maq2sam-short
/misc/md5fa
/misc/md5sum-lite
/misc/wgsim
/samtools
/test/vcf-miniview

/TAGS
.autotools
.cproject
.project
